<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanglipeng.a32014.smallshopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img13"
        android:label="小商城"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Main3Activity"
            android:launchMode="singleTask" />
        <activity android:name=".CollectActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ShopCarActivity"
            android:launchMode="singleTask"></activity>
    </application>

</manifest>